<div>
  <strong>Commenter:</strong>
  <%= comment.user.present? ? comment.user.full_name : 'Guest' %>
</div>

<div>
  <strong>Comment:</strong>
  <%= comment.body %>

  <div>
    <%= link_to 'Destroy Comment', [comment.article, comment],
                method: :delete,
                data: { confirm: 'Are you sure?' },
                class: 'btn btn-primary' %>
  </div>
</div>