<div class="well">
   <p class="text-muted">Added by <strong><%= comment.user.full_name %></strong> on
    <%= l(comment.created_at, format: '%B, %d %Y %H:%M:%S') %></p>

  <blockquote>
    <p><%= comment.body %></p>
  </blockquote>

  <%= link_to 'Delete',
              [comment.article, comment],
              method: :delete,
              data: { confirm: 'Are you sure?' },
              class: 'btn btn-danger' if policy(comment).destroy? %>
</div>